<font size="+5">#01. Data Tables, Plots & Basic Concepts of Programming</font>

<ul>
    <li>Doubts? â†’ Ask me in <img src="https://emoji.gg/assets/emoji/3970-discord.png" style="height: 1em; vertical-align: middle;"> <a href="https://discord.gg/cmB3KGsqMy">Discord</a></li>
    <li>Tutorials â†’ <img src="https://openmoji.org/php/download_asset.php?type=emoji&emoji_hexcode=E044&emoji_variant=color" style="height: 1em; vertical-align: middle;"> <a href="https://www.youtube.com/channel/UCovCte2I3loteQE_kRsfQcw">YouTube</a></li>
    <li>Book Private Lessons â†’ <span style="color: orange">@</span> <a href="https://sotastica.com/reservar">sotastica</a></li>
</ul>

# Load the Data

> By executing the following lines:

```python
import seaborn as sns
sns.get_dataset_names()
```

> We will se a list of possible datasets that we can load to python by just typing the name in the function. For example:

```python
sns.load_dataset(name='mpg')
```

In [1]:
import seaborn as sns

In [3]:
sns.load_dataset('mpg')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

# Scatterplot with 2 Variables

> - Variable in X Axis
> - Variable in Y Axis

# Scatterplot with 3 variables

> - Variable in X Axis
> - Variable in Y Axis
> - Color each point regarding a different value in a column

# Other Data Visualization Figures

> We'll head over the 3 main libraries used in Python to visualize data: `matplotlib`, `seaborn` and `plotly`.
>
> We'll reproduce at least one example from the links provided below. Therefore, we need to:
>
> 1. Click in the link
> 2. Pick up an example
> 3. Copy-paste the lines of code
> 4. Run the code

## Seaborn Example Gallery

> - https://seaborn.pydata.org/examples/index.html

## Matplotlib Example Gallery

> - https://towardsdatascience.com/matplotlib-tutorial-with-code-for-pythons-powerful-data-visualization-tool-8ec458423c5e

## Plotly Example Gallery

> - https://plotly.com/python/

# Load again the DataFrame from Exercise 1

```python
df = sns.load_dataset(name='mpg')
df.head()
```

# Repeat the same Visualization Figures

> It's very easy to copy-paste. Nevertheless, we must **copy-paste with criteria**: identify what to copy and what to modify to solve our problem. Therefore:
>
> - We'll try to emulate each one of the previous exercise figures with the `DataFrame` that we used in Exercise 1.

## Seaborn

## Matplotlib

## Plotly

# Achieved Goals

_Double click on **this cell** and place an `X` inside the square brackets (i.e., [X]) if you think you understand the goal:_

- [ ] Identify the **Elements of Programming** thanks to the syntax.
- [ ] Use `functions` that belongs to external `libraries`.
- [ ] Get _the machine to work for you, not against you_.
  - [ ] `shift + tab` to ask help to Python.
  - [ ] `tab` to ask Python for suggestions.
- [ ] Understand that a `dog` doesn't make `miau()`. But, rather `guau()`... the same way a `DataFrame` cannot `fly()` (i.e., `DataFrame.fly()`?).
- [ ] All roads lead to Rome; We can achieve the **the same result with different lines of code**.
  - We reproduced a scatterplot using 3 different lines of code.
- [ ] Different **`libraries`** may have `functions()` that do the **same thing**.
  - `matplotlib`, `seaborn` & `plotly` makes outstanding Visualization Figures
  - But you probably wouldn't use `plotly` on a paper. Unless we are on Harry Potter ðŸ˜œ
- [ ] Understand that **coding is a matter of necessity**. Not a serie of mechanical steps to achieve a goal.
  - You need to create art (code) by solving one problem at a time.
- [ ] Understand that **there  isn't a unique solution**.
  - We can achieve the same result with different approaches.
  - For example, changing the colors of the points.